{% extends 'routing/base.html' %}

{% block tool_content %}
  <h1 class="page-header">Transmissions</h1>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th class="col-lg-6">Time</th>
        <th class="col-lg-6">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url 'routing:transmission-detail' object.id %}">{{ object.id }}</a></td>
          <td>{{ object.result_timestamp }}</td>
          <td>{{ object.get_result_state_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    <ul class="pagination pagination-centered">
      {% if page_obj.has_previous %}
        <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
      {% endif %}

        <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
        <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock tool_content %}
