{% extends 'tools/base.html' %}
{% load sniplates %}
{% load staticfiles %}

{% block tool_content %}
  {% load_widgets form="widgets/form.html" %}
  {% load_widgets formset="tools/speed_dial_configurator_form_widget.html" %}
  <h1 class="page-header">Speed Dial Configurator</h1>
  <div>
    <h2 class="text-primary"><i class="fa fa-info"></i> Documentation</h2>
    <p>Configures SpeedDial100 for users in an Enterprise or Group (individually per user) and overwrites the values.</p>

    <h2 class="text-danger"><i class="fa fa-warning"></i> Invoke</h2>
    <div class=" well">
      <div id="id_form_template" style="display:none;">
        {% with formset.empty_form as f %}
          <div class="row form-row formset-template">
            {% for field in f %}
              {% form_field field alias="formset" %}
            {% endfor %}
            {% widget "formset:button" text="" icon="fa-times" class="remove-row" %}
          </div>
        {% endwith %}
      </div>
      <form class="formset" method="POST">
        {% csrf_token %}
        {% for field in form %}
          {% form_field field %}
        {% endfor %}
        <hr/>
        {{ formset.management_form }}
        <div class="formset-rows">
          {% for f in formset %}
            <div class="row form-row">
              {% for field in f %}
                {% form_field field alias="formset" %}
              {% endfor %}
              {% widget "formset:button" text="" icon="fa-times" class="remove-row" %}
            </div>
          {% endfor %}
        </div>
        <div class="pull-right">
          {% widget "formset:button" text="Add Rows" icon="fa-plus" class="btn-info add-row" %}
          {% widget "formset:button" text="Run" icon="fa-fighter-jet" class="btn-primary" type="submit" %}
        </div>
        <div class="clearfix"/>
      </form>
    </div>
  </div>
{% endblock tool_content %}

{% block javascript %}
  {{ block.super }}
  <script>
    function add_row() {
      var totalForms = $('#id_form-TOTAL_FORMS');
      var maxForms = $('#id_form-MAX_NUM_FORMS');
      var minForms = $('#id_form-MIN_NUM_FORMS');
      var template = $('#id_form_template').contents();
      template.clone().appendTo("form > .formset-rows");
      $("form > .formset-rows > .form-row:last").removeClass('formset-template');
      var forms = $('.form-row').not('.formset-template');
      $("form > .formset-rows > .form-row:last").html(function(index,html){
        return html.replace(/__prefix__/g,(forms.length-1));
      });
      var forms = $('.form-row').not('.formset-template');
      totalForms.val(forms.length);
    }

    function renumber_element(element, idx) {
      if($(element).attr('id')) {
        $(element).attr('id', $(element).attr('id').replace(/-\d+-/g,'-'+idx+'-'));
      }
      if($(element).attr('name')) {
        $(element).attr('name', $(element).attr('name').replace(/-\d+-/g,'-'+idx+'-'));
      }
      $(element).children().each(function() {
        renumber_element($(this), idx);
      });
    }

    function remove_row() {
      console.log('remove_row');
      $(this).parent('.form-row').remove();

      var forms = $('.form-row').not('.formset-template');
      var totalForms = $('#id_form-TOTAL_FORMS');
      var maxForms = $('#id_form-MAX_NUM_FORMS');
      var minForms = $('#id_form-MIN_NUM_FORMS');
      totalForms.val(forms.length);

      $(forms).each(function(idx) {
        renumber_element($(this), idx);
      });
    }
    $().ready(function() {
      $('.add-row').on('click', add_row);
      $('.remove-row').on('click', remove_row);
    });
  </script>
  {% if form.javascript %}
    <script src="{{ form.javascript }}"></script>
  {% endif %}
{% endblock javascript %}
