{% extends 'tools/base.html' %}

{% block tool_content %}
  <h1 class="page-header">Customer/User Location Lookup</h1>
  <div>
    <h2 class="text-primary"><i class="fa fa-info"></i> Documentation</h2>
    <p>
      This tool uses the BW NS Location API to determine which AS a user is built on. 
    </p>

    <h2 class="text-danger"><i class="fa fa-warning"></i> Invoke</h2>
      <div class="well">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p><label></label><input id="submit" type="submit" value="Run"/></p>
          </form>
      </div>
      <div class="well">
	  <div>
	      {% for platform in lookup_output %}
	      <p>{{ platform.name }}</p>
	      {% empty %}
	      <p>Search returned 0 results</p>
	      {% endfor %}
	  </div>
      </div>
  </div>
{% endblock tool_content %}

{% block javascript %}
  {{ block.super }}
  {% if form.javascript %}
    <script src="{{ form.javascript }}"></script>
  {% endif %}
{% endblock javascript %}
