# Node
node_modules/

# Bower
steward/static/bower/

# sqlite
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Settings
settings.json

# Static files
static/**
